* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.clock-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(13, 26, 40);
  padding: 20px;
}

.clock-box {
  background-color: rgb(16, 33, 51);
  padding-inline: 30px;
  padding-block: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 600px;
}

.time {
  font-size: 80px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: green;
  text-align: center;
}

.date {
  color: green;
  font-size: 25px;
}

@media (max-width: 600px) {
  .time {
    font-size: 15vw;
  }

  .date {
    font-size: 18px;
  }

  .clock-box {
    padding-inline: 15px;
  }
}
